fire==0.5.0
tqdm>=4.66.2
funcy==2.0
funcy-chain==0.2.0
returns[compatible-mypy]==0.22.0
pathos
dacite
types-requests>=2.31.0
pytest>=8.0.0 
hypothesis>=6.98.6
matplotlib>=3.8.3
numpy>=1.26.4
seaborn==0.13.2 
tree-sitter==0.22.3
tree_sitter_haskell==0.21.0
dacite==1.8.1
groq==0.8.0
python-dotenv==1.0.1
openai==1.30.5
ollama==0.2.1
anthropic==0.34.2
#token counting
tiktoken==0.7.0
requests==2.32.3

# json util
markdown-to-json==2.1.2